@import "tailwindcss";

@theme {
    --font-sans: "Lato", sans-serif;

    --color-primary: #13316B;
    --color-secondary: #2563eb;
    --color-accent: #38bdf8;
    --color-neutro-1: #051940;
    --color-neutro-2: #C8C6CD;
    --color-neutro-3: #e0f2fe;
    --color-success: #00bc7d;
    --color-error: #ff2056;
}

body {
  font-family: var(--font-sans);
}